* {
  margin: 0px;
  padding: 0px;
}

div.tituloDiv {
  height: 125px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.restaurante {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

div.primerPlato,
div.segundoPlato,
div.postre {
  border: solid 2px black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.bebidas {
  height: 100%;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

div.cuenta {
  height: 100%;
  border: solid 2px black;
}

.plato {
  border: solid 1px black;
  margin: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

div.totalCuenta {
  display: flex;
  align-items: center;
  justify-content: center;
}
