* {
  margin: 0px;
  padding: 0px;
}

div.tituloDiv {
  background-color: orange;
  height: 125px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.container {
  background-color: green;
  height: 100%;
  width: 100%;
  padding: 0px;
  display: flex;
}

div.comida.col-md-9 {
  background-color: red;
}

div.cuenta.col-md-3 {
  background-color: orange;
}

/* div.container {
  background-color: red;
  display: flex;
  padding: 0px;
}

div.platos{
  background-color: green;
  height: 100%;
  width: 100%;
} */
